@model reservas_vuelos.Models.BusquedaVuelos

<form action="@Url.Action("TraerVuelos", "Vuelo")" method="post">
    <section class="row">
        <div class="col-auto">
            <input type="radio" id="roundFlight" name="oneWay" value="1">
            <label for="roundFlight">Ida y vuelta</label>
        </div>

        <div class="col-auto">
            <input type="radio" id="singleFlight" name="oneWay" value="0">
            <label for="singleFlight">Solo ida</label>
        </div>
    </section>
    <br />
    <div class="row">
        <section class="col-md-2">
            <label for="exampleDataList" class="form-label">Origen</label>
            <input class="form-control" list="datalistOptions" id="originPoint" placeholder="Type to search..." name="departureIataCode" value="@Html.DisplayFor(model => model.form.departureIataCode)">
            <datalist id="datalistOptions">
                <option value="SJO">
                <option value="LAX">
            </datalist>
        </section>
        <section class="col-md-2">
            <label for="exampleDataList" class="form-label">Destino</label>
            <input class="form-control" list="datalistOptions" id="destinationPoint" placeholder="Type to search..." name="arrivalIataCode" value="@Html.DisplayFor(model => model.form.arrivalIataCode)">
            <datalist id="datalistOptions">
                <option value="LAX">
                <option value="SJO">
            </datalist>
        </section>
        <section class="col-md-4 row">
            <div class="col-auto">
                <label for="startDate" class="form-label">Ida</label>
                <input id="startDate" class="form-control" type="date" name="departureDate" value="@Html.DisplayFor(model => model.form.departureDate)" />
            </div>
            <div class="col-auto">
                <label for="finalDate" class="form-label">Vuelta</label>
                <input id="finalDate" class="form-control" type="date" name="arrivalDate" value="@Html.DisplayFor(model => model.form.arrivalDate)"/>
            </div>
        </section>
        <section class="col-md-2">
            <label for="exampleDataList" class="form-label">Pasajeros</label>
            <input type="text" class="form-control" id="passengersNo" placeholder="1" value="1">
        </section>
        <section class="col-md-2 text-center">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </section>
    </div>
</form>
<br />
<div>
    <table class="table">
        <tr>
            <th>No. Vuelo</th>
            <th>Ruta</th>
            <th>Duración</th>
            <th>Fecha de salida</th>
            <th>Fecha de regreso</th>
            <th>Tipo de vuelo</th>
            <th>Aerolínea</th>
            <th>Precio</th>
            <th>Tipo</th>
        </tr>

        @foreach (var item in Model.listaVuelos)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.flightNo)</td>
                <td>@Html.DisplayFor(modelItem => item.departureIataCode) - @Html.DisplayFor(modelItem => item.arrivalIataCode)</td>
                <td>@Html.DisplayFor(modelItem => item.duration)</td>
                <td>@Html.DisplayFor(modelItem => item.departureDate)</td>
                <td>@Html.DisplayFor(modelItem => item.arrivalDate)</td>
                <td>@Html.DisplayFor(modelItem => item.oneWay)</td>
                <td>@Html.DisplayFor(modelItem => item.carrierName)</td>
                <td>@Html.DisplayFor(modelItem => item.currency) @Html.DisplayFor(modelItem => item.total)</td>
                <td>@Html.DisplayFor(modelItem => item.cabin)</td>

                <td>
                    <button class="btn btn-primary agregarcarrito" data-idvuelo="@Html.DisplayFor(modelItem => item.flightNo)">Agregar al carrito</button>
                </td>
            </tr>
        }

    </table>
</div>

<script>

    $(document).on("click", "button.agregarcarrito", function () {
        jQuery.ajax({
            url: '@Url.Action("AgregarCarrito", "Vuelo")',
            type: "POST",
            data: JSON.stringify({ idVuelo: $(this).attr("data-idvuelo") }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                if (data.respuesta) {
                    mostrarCantidadCarrito();

                    swal("", "Se ha añadido el vuelo al carrito.", "success");

                } else {
                    swal("", data.mensaje, "warning");
                }
            }
        });

    })
</script>